<mat-toolbar color="primary">
  <span>Weather Monitoring System Dashboard</span>

  <span class="example-spacer"></span>
  <div class="content">
    <button mat-button color="primary">Home</button>
    <span class="toolbar_nav"><a href="#" class="nav_link"><b>Dashboard</b></a></span>
    <span class="toolbar_nav"><a href="#" class="nav_link"><b>Node Weather Map</b></a></span>
    <span class="toolbar_nav"><a href="#" class="nav_link"><b>Raw Data</b></a></span>
    <span class="toolbar_nav"><a href="#" class="nav_link"><b>Credits</b></a></span>
  </div>
</mat-toolbar>
